.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: #ffffff;
}
